@import '@rob097/common-lib/assets/theme/base/breakpoints.scss';

.navbarContainer {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 100% !important;
    position: relative;
  }
  
  @media (min-width: $sm) {
    .navbarContainer {
      max-width: 540px !important;
    }
  }
  @media (min-width: ($md)) {
    .navbarContainer {
      max-width: 720px !important;
    }
  }
  @media (min-width: ($lg)) {
    .navbarContainer {
      max-width: 960px !important;
    }
  }
  @media (min-width: ($xl)) {
    .navbarContainer {
      max-width: 1140px !important;
    }
  }
  @media (min-width: ($xxl)) {
    .navbarContainer {
      max-width: 1320px !important;
    }
  }
  