.primaryAccordion {
    &:global(.MuiAccordion-rounded.Mui-expanded) {
        border-radius: 10px !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

.secondaryAccordion {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 2rem !important;
}

.secondaryAccordion::before {
    content: none !important;
}

.secondaryAccordionDetails {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 2rem !important;
}