@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
    width: 100vw !important;
    overflow-x: hidden !important;
}

a {
    text-decoration: none !important;
    color: theme('colors.secondary.main');
}