.heroSection {
    background: linear-gradient(to right, #0052D4, #65C7F7);
    color: #fff;
    padding: 4rem 0;
    text-align: left;
}

.heroContent {
    max-width: 600px;
    margin-right: auto;
    padding: 1rem;
  }

.section {
    padding: 4rem 0;
}

.sectionContent {
    max-width: 800px;
    padding: 1rem;
  }

.callToAction {
    margin-top: 2rem;
}