$--background-secondary: theme('colors.background.secondary');

#storyNavbar::after {
    display: block;
    background: $--background-secondary;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
}